@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="h-100">
                    <div class="row mb-3 pb-1">
                        <div class="col-12">
                            <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                <div class="flex-grow-1">
                                    <h4 class="fs-16 mb-1">Good Morning, Anna!</h4>
                                    <p class="text-muted mb-0">
                                        Here's what's happening with your store
                                        today.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-xxl-3 row-cols-lg-3 row-cols-1">
                        @foreach (var values in ViewBag.ValuesByTerm)
                        {
                            <div class="col">
                                <div class="card card-body">
                                    <div class="d-flex mb-4 align-items-center">
                                        <div class="flex-shrink-0">
                                            <img src="@values.UrlImagem" alt="" class="avatar-sm me-3 rounded avatar-xl " />
                                        </div>
                                        <div class="flex-grow-1 ms-2">
                                            <h5 class="card-title mb-1">@values.NomePresidente</h5>
                                            <p class="text-muted mb-0">@values.Mandato</p>
                                        </div>
                                    </div>
                                    <h6 class="mb-1">
                                        R$ <span class="counter-value" data-target="@values.Valor">0</span>
                                    </h6>
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm">See Details</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>